* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, h1, p, a, textarea {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 2em;
}

.box-container {
  width: 28em;
  margin: auto;
  margin-top: 8em;
}

.text-box textarea, .translation-box {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  margin-bottom: 3em;
  line-height: 2em;
  padding: .5em;
  min-height: 8em;
  border-color: #D7D7D7;
}

.text-box textarea:focus {
  outline-width: 2px;
}

.translation-box {
  font-size: 16px;
  border: 1px solid #CBCBCB;
  background-color: ivory;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
}
